@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {          /* reset css */
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #00030C;
    --cor-botoes: #167BF7;
    --cor-h1: #ffff;
    --cor-p: #C0C0C0;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-h1);
    font-family: var(--fonte-principal);
    font-size: 1rem;  /* 1rem equivale a 16px */
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid; /* determina a separação de itens com o grid */
    grid-template-columns: 50% 50%; /* determina a largura de cada coluna */
}

.principal {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__titulo {
    font-size: 1.75rem; /* 28px convertidos para rem */
    font-weight: 700;
    text-align: center;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--cor-botoes);
    color: var(--cor-h1);
    text-decoration: none;
    padding: 1em; /* em - medida conforme o tamanho da fonte */
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-bottom: 0.3em;
}

.botao_secundario {
    background-color: transparent; /* botao transparente */
    border: 2px solid var(--cor-h1);
}

.container__aviso {
    color: var(--cor-p);
    font-size: 12px;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-h1);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-p);
}

.secundario__botao {
    display: inline-block; /* ocupa as melhores partes do objeto */
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}